@import url(https://fonts.googleapis.com/css?family=Roboto:300regular,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair:500,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 360px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #979797
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 115rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,112.5rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header-block {
  line-height: 1.25;
  font-family: Playfair;
  font-weight: 700
}
.header-block__title {
  letter-spacing: .1em;
  text-transform: uppercase
}
.header-block__subtitle {
  color: #c39e7c
}
.footer {
  background-color: #7b5646;
  clip-path: polygon(0 0,100% 25%,100% 100%,0 100%);
  margin-top: -13.75rem
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center
}
.footer__line {
  line-height: 1.5;
  text-align: center
}
.footer__line span {
  font-weight: 700
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5625rem
}
.footer__logo {
  flex: 0 0 8.25rem;
  max-width: 8.25rem
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.footer__text {
  line-height: 1.5;
  text-align: center;
  color: #c39e7c
}
.hero {
  position: relative;
  padding-bottom: 7.5rem;
  width: 100vw;
  height: 100%
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%
}
.hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom
}
.hero__container {
  height: 100%;
  position: relative
}
.hero__main-img {
  display: none
}
.hero__content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 17.1875rem
}
.hero__title {
  font-family: Playfair;
  line-height: 1.5;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center
}
.hero__title:not(:last-child) {
  margin-bottom: 2.125rem
}
.hero__text {
  line-height: 1.33;
  text-align: center;
  color: #d7c8c1;
  text-shadow: 0 4px 40px 0 rgba(0,0,0,.5);
  max-width: 43.75rem
}
.hero__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.hero__logo {
  display: flex;
  align-items: flex-end;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.hero__icon01 {
  max-width: 100%
}
.hero__icon01 img {
  width: 100%;
  height: 100%
}
.hero__icon02 {
  max-width: 100%
}
.hero__icon02 img {
  width: 100%;
  height: 100%
}
.info {
  background-color: #421d1e;
  clip-path: polygon(0 20%,100% 0,100% 100%,0 80%);
  padding: 6.25rem 0;
  margin-top: -6.25rem;
  border: .0625rem solid #000
}
.info__container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.875rem
}
.info__logo01 {
  max-width: 18.125rem;
  align-self: center;
  margin-left: 8.125rem
}
.info__logo01 img {
  width: 100%
}
.info__text {
  text-align: center;
  font-weight: 300;
  line-height: 1.33;
  align-self: center
}
.info__text span {
  text-decoration: underline
}
.info__logo02 {
  align-self: center;
  max-width: 36.875rem
}
.info__logo02 img {
  width: 100%
}
.our-team {
  background-color: #7b5646;
  clip-path: polygon(0 0,100% 12%,100% 90%,0 100%);
  margin-top: -6.25rem;
  padding-top: 12.5rem;
  padding-bottom: 8.125rem
}
.our-team__container {
  display: flex;
  align-items: flex-start;
  gap: 2.8125rem
}
.our-team__text {
  flex: 0 0 21.875rem;
  max-width: 21.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  font-weight: 300;
  line-height: 1.33
}
.our-team__items {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.item-our-team {
  flex: 0 0 15.9375rem;
  max-width: 15.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center
}
.item-our-team__avatar {
  flex: 0 0 12.9375rem;
  max-width: 12.9375rem;
  border-radius: 100%;
  border: .0625rem solid #c39e7c;
  box-shadow: 0 1.25rem 1.875rem 0 rgba(0,0,0,.4)
}
.item-our-team__avatar:not(:last-child) {
  margin-bottom: .75rem
}
.item-our-team__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-our-team__name {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
  letter-spacing: .1em;
  text-align: center
}
.item-our-team__name:not(:last-child) {
  margin-bottom: 1.125rem
}
.item-our-team__info {
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: #d6c8c1
}
.new-era-bags {
  background-color: #341b1c;
  clip-path: polygon(0 6.7%,100% 0,100% 100%,0 85%);
  margin-top: -5.1875rem
}
.new-era-bags__container {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 3.125rem
}
.new-era-bags__content {
  align-self: center
}
.new-era-bags__title {
  font-family: Playfair;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase
}
.new-era-bags__title:not(:last-child) {
  margin-bottom: 3.375rem
}
.new-era-bags__text {
  padding-left: 3.5rem;
  font-weight: 300;
  line-height: 1.33;
  color: #ecd3bb
}
.new-era-bags__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.new-era-bags__text--white {
  color: #fff
}
.new-era-bags__subtitle {
  font-family: Playfair;
  font-weight: 500;
  line-height: 1.5;
  color: #c39e7c
}
.new-era-bags__subtitle:not(:last-child) {
  margin-bottom: 2.5rem
}
.new-era-bags__image {
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4);
  max-width: 100%
}
.new-era-bags__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.new-era-bags__image::before {
  content: "";
  position: absolute;
  top: 2.5%;
  left: -3.6%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.assortment-bags {
  position: relative;
  z-index: 2;
  background-color: #7b5646;
  clip-path: polygon(0 0,100% 17.5%,100% 82.5%,0 100%);
  margin-top: -14.375rem
}
.assortment-bags__container {
  padding-top: 3.75rem;
  display: flex;
  align-items: center;
  -webkit-column-gap: 5rem;
  -moz-column-gap: 5rem;
  column-gap: 5rem
}
.assortment-bags__logo {
  flex: 0 0 23.4375rem;
  max-width: 23.4375rem
}
.assortment-bags__logo img {
  width: 100%;
  height: 100%
}
.assortment-bags__text {
  flex: 1 1 36.875rem;
  max-width: 36.875rem;
  font-weight: 300;
  line-height: 1.33
}
.assortment-bags__items {
  margin-top: -6.25rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  clip-path: polygon(0 30%,100% 0,100% 80%,0 100%)
}
.assortment-bags__item {
  width: 100%
}
.assortment-bags__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.julia {
  position: relative;
  margin-top: -15.625rem;
  padding-top: 16.25rem;
  padding-bottom: 7.5rem;
  background-color: #421d1e;
  clip-path: polygon(0 10%,100% 0,100% 100%,0 100%)
}
.julia::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30.625rem;
  background-color: #341b1c;
  clip-path: polygon(0 0,100% 25%,100% 75%,0 100%)
}
.julia__container {
  display: flex;
  -webkit-column-gap: 5.625rem;
  -moz-column-gap: 5.625rem;
  column-gap: 5.625rem
}
.julia__box {
  flex: 1 1 37.5%;
  max-width: 38.4375rem
}
.julia__block {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(42%,15%);
  transform: translate(42%,15%)
}
.julia__header-block:not(:last-child) {
  margin-bottom: 3.75rem
}
.julia__image {
  max-width: 100%;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.julia__image:not(:last-child) {
  margin-bottom: 8.75rem
}
.julia__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.julia__image::before {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 2.8%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.julia__text {
  max-width: 43.75rem;
  font-weight: 300;
  line-height: 1.33
}
.julia__text:not(:last-child) {
  margin-bottom: 1.5rem
}
.julia__subtitle {
  font-family: Playfair;
  font-weight: 500;
  line-height: 1.5;
  color: #c39e7c
}
.content-julia {
  position: relative;
  z-index: 2;
  flex: 1 1 62.5%;
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem
}
.content-julia__text {
  font-weight: 300;
  line-height: 1.33
}
.content-julia__text--width {
  flex: 0 0 22.5rem;
  max-width: 22.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.content-julia__text--before {
  display: flex;
  flex-direction: column;
  row-gap: 2.3125rem
}
.content-julia__text--before::before {
  content: "";
  background: url(../img/icons/quotes.svg) 0 0 no-repeat;
  width: 7.5rem;
  height: 5.5rem
}
.content-julia__bottom {
  display: flex;
  -webkit-column-gap: 5.9375rem;
  -moz-column-gap: 5.9375rem;
  column-gap: 5.9375rem
}
.content-julia__image {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.content-julia__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content-julia__image::before {
  content: "";
  position: absolute;
  top: 2.5%;
  left: -3.6%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.comment {
  padding-top: 11.25rem;
  padding-bottom: 10.625rem;
  background-color: #7b5646
}
.comment--julia {
  clip-path: polygon(0 10%,100% 0,100% 100%,0 90%);
  margin-top: -7.5rem
}
.comment--tetiana {
  padding-top: 12.5rem;
  position: relative;
  clip-path: polygon(0 0,100% 15%,100% 94%,0 100%);
  margin-top: -11.875rem
}
.comment--maryna-aristova {
  clip-path: polygon(0 11%,100% 0,100% 100%,0 90%);
  margin-top: -8.75rem
}
.comment--anastasia {
  padding-top: 18.75rem;
  position: relative;
  clip-path: polygon(0 0,100% 15%,100% 94%,0 100%);
  margin-top: -15.625rem
}
.comment--olga {
  clip-path: polygon(0 11%,100% 0,100% 100%,0 90%);
  margin-top: -8.75rem
}
.comment__container {
  display: flex;
  align-items: center
}
.comment__image {
  flex: 1 1 48%;
  max-height: 51.875rem;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.comment__image::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 3%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.comment__image img {
  width: 100%;
  height: 100%;
  max-height: 51.875rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 30%;
  object-position: 0 30%
}
.comment__content {
  flex: 1 1 52%;
  position: relative
}
.comment__content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16.0625rem;
  height: 16.75rem;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  background: url(../img/decor-v-light.png) 0 0 no-repeat;
  background-size: contain
}
.comment__top {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  padding-left: 2.9375rem
}
.comment__top:not(:last-child) {
  margin-bottom: 6.25rem
}
.comment__avatar {
  flex: 0 0 8.4375rem;
  max-width: 8.4375rem;
  border-radius: 100%;
  border: .0625rem solid #c39e7c;
  box-shadow: 0 1.25rem 1.875rem 0 rgba(0,0,0,.4)
}
.comment__avatar img {
  width: 100%;
  height: 100%
}
.comment__text {
  flex: 1 1 auto;
  max-width: 25rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.12;
  color: #341b1c
}
.blockquote-comment {
  padding: 2rem 2.9375rem;
  border: .0625rem solid #452728;
  position: relative;
  display: grid;
  row-gap: 1.875rem
}
.blockquote-comment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%,-65%);
  transform: translate(50%,-65%);
  width: 5.375rem;
  height: 3.9375rem;
  background: url(../img/icons/quotes-light.svg) 0 0 no-repeat;
  background-size: contain
}
.blockquote-comment__text {
  font-style: italic;
  font-weight: 300;
  line-height: 1.5
}
.blockquote-comment__text span {
  font-weight: 600
}
.tetiana {
  background-color: #421d1e;
  padding-top: 10.3125rem;
  padding-bottom: 13.125rem;
  clip-path: polygon(0 0,100% 6%,100% 100%,0 90%);
  margin-top: -7.5rem;
  position: relative
}
.tetiana::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48rem;
  background-color: #341b1c;
  clip-path: polygon(0 25%,100% 0,100% 100%,0 75%)
}
.tetiana__container {
  display: grid;
  row-gap: 2.75rem;
  grid-template-columns: repeat(2,1fr);
  position: relative
}
.tetiana__header-block:not(:last-child) {
  margin-bottom: 4.875rem
}
.tetiana__text {
  font-weight: 300;
  line-height: 1.33;
  display: flex;
  align-items: flex-start
}
.tetiana__text:not(:last-child) {
  margin-bottom: 8.5625rem
}
.tetiana__text::before {
  content: "";
  flex: 0 0 7.5rem;
  width: 7.5rem;
  height: 5.5rem;
  background: url(../img/icons/quotes.svg) 0 0 no-repeat;
  background-size: contain
}
.tetiana__image {
  max-width: 42.5rem;
  max-height: 51.875rem;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4);
  position: relative;
  z-index: 2
}
.tetiana__image img {
  width: 100%;
  max-height: 51.875rem;
  -o-object-position: 0 30%;
  object-position: 0 30%;
  -o-object-fit: cover;
  object-fit: cover
}
.tetiana__image::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 3%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.tetiana__right-column {
  position: relative;
  z-index: 2
}
.right-column-tetiana__image {
  max-width: 42.5rem;
  max-height: 51.875rem;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.right-column-tetiana__image:not(:last-child) {
  margin-bottom: 5.625rem
}
.right-column-tetiana__image img {
  width: 100%;
  max-height: 51.875rem;
  -o-object-position: 0 30%;
  object-position: 0 30%;
  -o-object-fit: cover;
  object-fit: cover
}
.right-column-tetiana__image::before {
  content: "";
  position: absolute;
  top: 2%;
  left: -3%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.right-column-tetiana__text-white {
  margin-left: -3%;
  font-weight: 300;
  line-height: 1.33;
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%)
}
.right-column-tetiana__text-white:not(:last-child) {
  margin-bottom: 2.875rem
}
.right-column-tetiana__text {
  margin-left: -3%;
  font-family: Playfair;
  font-weight: 500;
  line-height: 1.25;
  color: #c39e7c
}
.maryna-aristova {
  margin-top: -12.5rem;
  padding-top: 16.25rem;
  padding-bottom: 7.5rem;
  background-color: #421d1e;
  clip-path: polygon(0 10%,100% 0,100% 100%,0 100%);
  position: relative
}
.maryna-aristova::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42.5rem;
  background-color: #341b1c;
  clip-path: polygon(0 0,100% 20%,100% 80%,0 100%)
}
.maryna-aristova__container {
  display: flex;
  -webkit-column-gap: 5.625rem;
  -moz-column-gap: 5.625rem;
  column-gap: 5.625rem
}
.maryna-aristova__box {
  flex: 1 1 37.5%;
  max-width: 38.4375rem
}
.maryna-aristova__block {
  -webkit-transform: translateX(42%);
  transform: translateX(42%)
}
.maryna-aristova__header-block:not(:last-child) {
  margin-bottom: 3.75rem
}
.maryna-aristova__image {
  max-width: 100%;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.maryna-aristova__image:not(:last-child) {
  margin-bottom: 8.75rem
}
.maryna-aristova__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.maryna-aristova__image::before {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 2.8%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.maryna-aristova__text {
  max-width: 43.75rem;
  font-weight: 300;
  line-height: 1.33;
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%)
}
.maryna-aristova__text:not(:last-child) {
  margin-bottom: 1.5rem
}
.maryna-aristova__subtitle {
  font-family: Playfair;
  font-weight: 500;
  line-height: 1.5;
  color: #c39e7c
}
.content-maryna-aristova {
  flex: 1 1 62.5%;
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem
}
.content-maryna-aristova__text {
  font-weight: 300;
  line-height: 1.33
}
.content-maryna-aristova__text--width {
  flex: 0 0 22.5rem;
  max-width: 22.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.content-maryna-aristova__text--before {
  display: flex;
  flex-direction: column;
  row-gap: 2.3125rem
}
.content-maryna-aristova__text--before::before {
  content: "";
  background: url(../img/icons/quotes.svg) 0 0 no-repeat;
  width: 7.5rem;
  height: 5.5rem
}
.content-maryna-aristova__bottom {
  display: flex;
  -webkit-column-gap: 5.9375rem;
  -moz-column-gap: 5.9375rem;
  column-gap: 5.9375rem
}
.content-maryna-aristova__image {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.content-maryna-aristova__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content-maryna-aristova__image::before {
  content: "";
  position: absolute;
  top: 2.5%;
  left: -3.6%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.anastasia {
  background-color: #421d1e;
  padding-top: 10.3125rem;
  padding-bottom: 15.625rem;
  clip-path: polygon(0 0,100% 6%,100% 100%,0 100%);
  margin-top: -8.125rem;
  position: relative
}
.anastasia::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 59.25rem;
  background-color: #341b1c;
  clip-path: polygon(0 25%,100% 0,100% 100%,0 75%)
}
.anastasia__container {
  display: grid;
  row-gap: 2.75rem;
  grid-template-columns: repeat(2,1fr)
}
.anastasia__left-column {
  position: relative;
  z-index: 1
}
.anastasia__header-block:not(:last-child) {
  margin-bottom: 4.875rem
}
.anastasia__text {
  position: relative;
  z-index: 1;
  font-weight: 300;
  line-height: 1.33;
  display: flex;
  align-items: flex-start
}
.anastasia__text:not(:last-child) {
  margin-bottom: 8.5625rem
}
.anastasia__text::before {
  content: "";
  flex: 0 0 7.5rem;
  width: 7.5rem;
  height: 5.5rem;
  background: url(../img/icons/quotes.svg) 0 0 no-repeat;
  background-size: contain
}
.anastasia__paragraphs {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.anastasia__image {
  max-width: 42.5rem;
  max-height: 51.875rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.anastasia__image img {
  width: 100%;
  max-height: 51.875rem;
  -o-object-position: 0 30%;
  object-position: 0 30%;
  -o-object-fit: cover;
  object-fit: cover
}
.anastasia__image::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 3%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.anastasia__right-column {
  position: relative;
  z-index: 1
}
.right-column-anastasia__image {
  max-width: 42.5rem;
  max-height: 51.875rem;
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.4)
}
.right-column-anastasia__image:not(:last-child) {
  margin-bottom: 5.625rem
}
.right-column-anastasia__image img {
  width: 100%;
  max-height: 51.875rem;
  -o-object-position: 0 30%;
  object-position: 0 30%;
  -o-object-fit: cover;
  object-fit: cover
}
.right-column-anastasia__image::before {
  content: "";
  position: absolute;
  top: 2%;
  left: -3%;
  width: 100%;
  height: 100%;
  border: .125rem solid #c39e7c
}
.right-column-anastasia__text-white {
  margin-left: -3%;
  font-weight: 300;
  line-height: 1.33;
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%)
}
.right-column-anastasia__text-white:not(:last-child) {
  margin-bottom: 2.875rem
}
.right-column-anastasia__text {
  margin-left: -3%;
  font-family: Playfair;
  font-weight: 500;
  line-height: 1.25;
  color: #c39e7c
}
.right-column-anastasia__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.olga {
  background-color: #421d1e;
  padding-top: 16.25rem;
  padding-bottom: 11.25rem;
  clip-path: polygon(0 5%,100% 0,100% 100%,0 100%);
  margin-top: -6.25rem;
  position: relative
}
.olga::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52.5rem;
  background-color: #341b1c;
  clip-path: polygon(0 0,100% 15%,100% 85%,0 100%)
}
.olga__container {
  position: relative
}
.olga__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17.625rem;
  height: 8.375rem;
  background: url(../img/viva.png) 0 0 no-repeat;
  background-size: contain;
  -webkit-transform: translate(-65%,-55%);
  transform: translate(-65%,-55%)
}
.olga__top {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 68.75rem;
  row-gap: 2.5rem
}
.olga__top:not(:last-child) {
  margin-bottom: 3.4375rem
}
.olga__line {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.9375rem;
  -moz-column-gap: 2.9375rem;
  column-gap: 2.9375rem
}
.olga__avatar {
  flex: 0 0 12.9375rem;
  max-width: 12.9375rem;
  border-radius: 100%;
  border: .0625rem solid #c39e7c;
  box-shadow: 0 1.25rem 1.875rem 0 rgba(0,0,0,.4)
}
.olga__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.olga__header-block {
  flex: 1 1 auto
}
.olga__text {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  max-width: 46.875rem;
  font-weight: 300;
  line-height: 1.33
}
.olga__text::before {
  content: "";
  flex: 0 0 7.5rem;
  width: 7.5rem;
  height: 5.5rem;
  background: url(../img/icons/quotes.svg) 0 0 no-repeat;
  background-size: contain
}
.olga__image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 39.0625rem;
  max-height: 57.375rem
}
.olga__image img {
  max-width: 39.0625rem;
  max-height: 57.375rem;
  -o-object-fit: cover;
  object-fit: cover
}
.olga__image::after {
  content: "";
  position: absolute;
  top: 2%;
  right: 2%;
  width: 39.0625rem;
  height: 55rem;
  border: .125rem solid #c39e7c
}
.bottom-olga {
  position: relative;
  z-index: 2;
  display: flex
}
.bottom-olga__image {
  position: relative;
  flex: 0 0 39.0625rem;
  max-width: 39.0625rem;
  max-height: 57.375rem
}
.bottom-olga__image::after {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 3.5%;
  width: 100%;
  height: 95%;
  border: .125rem solid #c39e7c
}
.bottom-olga__image img {
  max-width: 39.0625rem;
  max-height: 57.375rem;
  -o-object-fit: cover;
  object-fit: cover
}
.bottom-olga__small-text {
  font-weight: 300;
  line-height: 1.33;
  max-width: 25rem
}
.bottom-olga__small-text:not(:last-child) {
  margin-bottom: 16.875rem
}
.bottom-olga__paragraphs {
  max-width: 48.125rem;
  font-weight: 300;
  line-height: 1.33;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem
}
.bottom-olga__paragraphs:not(:last-child) {
  margin-bottom: 4.0625rem
}
.bottom-olga__text {
  max-width: 41.875rem;
  font-family: Playfair;
  font-weight: 500;
  line-height: 1.25;
  color: #c39e7c
}
.result {
  background-color: #421d1e;
  padding-top: 3.4375rem;
  padding-bottom: 6.25rem;
  clip-path: polygon(0 0,100% 10%,100% 80%,0 100%);
  margin-top: -7.5rem
}
.result__container {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.result__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-transform: translateY(30%);
  transform: translateY(30%)
}
.result__icon01 {
  flex: 0 0 7.3125rem;
  max-width: 26.875rem
}
.result__icon01 img {
  width: 100%
}
.result__icon02 {
  flex: 0 0 12.1875rem;
  max-width: 16.0625rem
}
.result__icon02 img {
  width: 100%
}
.result__big-text {
  font-family: Playfair;
  font-weight: 700;
  line-height: 1.25;
  padding-left: 3.125rem;
  max-width: 37.9375rem
}
.result__big-text:not(:last-child) {
  margin-bottom: 3.125rem
}
.result__text {
  font-weight: 300;
  line-height: 1.33;
  padding-left: 10rem
}
.result__image {
  margin-right: -1.25rem;
  max-width: 54.0625rem;
  max-height: 59.875rem;
  clip-path: polygon(0 0,100% 3%,100% 97%,0 100%)
}
.result__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom
}
.maryna {
  padding-top: 16.25rem;
  padding-bottom: 13.75rem;
  background-color: #341b1c;
  clip-path: polygon(0 16.5%,100% 0,100% 100%,0 83.5%);
  margin-top: -14.375rem
}
.maryna__container {
  display: flex;
  -webkit-column-gap: 4.75rem;
  -moz-column-gap: 4.75rem;
  column-gap: 4.75rem;
  align-items: flex-start
}
.maryna__image {
  flex: 0 0 48%;
  max-height: 52.8125rem;
  position: relative
}
.maryna__image img {
  width: 100%;
  max-height: 52.8125rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 30%;
  object-position: 0 30%
}
.maryna__image::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 2.5%;
  width: 100%;
  height: 96%;
  border: .125rem solid #c39e7c
}
.maryna__content {
  flex: 1 1 auto;
  position: relative
}
.maryna__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/maryna/decor.svg) 0 0 no-repeat;
  width: 20rem;
  height: 20rem;
  background-size: contain;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%)
}
.maryna__header-block:not(:last-child) {
  margin-bottom: 3.125rem
}
.maryna__text {
  display: flex;
  flex-direction: column;
  row-gap: 2.375rem
}
.maryna__paragraph {
  max-width: 35.625rem;
  font-weight: 300;
  line-height: 1.33
}
.maryna__second-paragraph {
  max-width: 100%;
  font-family: Playfair;
  line-height: 1.12;
  color: #c39e7c
}
@media (min-width:115em) {
  .header-block__title {
    font-size: 3rem
  }
  .header-block__subtitle {
    font-size: 1.5rem
  }
  .footer {
    padding-top: 21.625rem
  }
  .footer {
    padding-bottom: 12.125rem
  }
  .footer__line {
    font-size: 1.5rem
  }
  .footer__text {
    font-size: 1.5rem
  }
  .hero__title {
    font-size: 4rem
  }
  .hero__text {
    font-size: 1.6875rem
  }
  .info__logo01 {
    margin-left: 8.125rem
  }
  .info__text {
    font-size: 1.6875rem
  }
  .our-team__text {
    font-size: 1.6875rem
  }
  .item-our-team__info {
    font-size: 1.25rem
  }
  .new-era-bags__title {
    font-size: 3rem
  }
  .new-era-bags__text {
    font-size: 1.6875rem
  }
  .new-era-bags__subtitle {
    font-size: 2rem
  }
  .assortment-bags__text {
    font-size: 1.6875rem
  }
  .julia__text {
    font-size: 1.6875rem
  }
  .julia__subtitle {
    font-size: 2rem
  }
  .content-julia__text {
    font-size: 1.6875rem
  }
  .comment__container {
    -webkit-column-gap: 4.75rem;
    -moz-column-gap: 4.75rem;
    column-gap: 4.75rem
  }
  .comment__text {
    font-size: 2rem
  }
  .blockquote-comment__text {
    font-size: 1.5rem
  }
  .tetiana__container {
    -webkit-column-gap: 5.625rem;
    -moz-column-gap: 5.625rem;
    column-gap: 5.625rem
  }
  .tetiana__header-block {
    padding-left: 3.125rem
  }
  .tetiana__text {
    font-size: 1.6875rem
  }
  .tetiana__text {
    padding-left: 3.125rem
  }
  .tetiana__text {
    -webkit-column-gap: 5.8125rem;
    -moz-column-gap: 5.8125rem;
    column-gap: 5.8125rem
  }
  .right-column-tetiana__text-white {
    font-size: 1.6875rem
  }
  .right-column-tetiana__text {
    font-size: 2rem
  }
  .maryna-aristova__text {
    font-size: 1.6875rem
  }
  .maryna-aristova__subtitle {
    font-size: 2rem
  }
  .content-maryna-aristova__text {
    font-size: 1.6875rem
  }
  .anastasia__container {
    -webkit-column-gap: 5.625rem;
    -moz-column-gap: 5.625rem;
    column-gap: 5.625rem
  }
  .anastasia__header-block {
    padding-left: 3.125rem
  }
  .anastasia__text {
    font-size: 1.6875rem
  }
  .anastasia__text {
    padding-left: 3.125rem
  }
  .anastasia__text {
    -webkit-column-gap: 5.8125rem;
    -moz-column-gap: 5.8125rem;
    column-gap: 5.8125rem
  }
  .right-column-anastasia__text-white {
    font-size: 1.6875rem
  }
  .right-column-anastasia__text {
    font-size: 2rem
  }
  .olga__text {
    font-size: 1.6875rem
  }
  .bottom-olga {
    -webkit-column-gap: 5.9375rem;
    -moz-column-gap: 5.9375rem;
    column-gap: 5.9375rem
  }
  .bottom-olga__small-text {
    font-size: 1.6875rem
  }
  .bottom-olga__paragraphs {
    font-size: 1.6875rem
  }
  .bottom-olga__text {
    font-size: 2rem
  }
  .result__container {
    -webkit-column-gap: 8.125rem;
    -moz-column-gap: 8.125rem;
    column-gap: 8.125rem
  }
  .result__big-text {
    font-size: 3rem
  }
  .result__text {
    font-size: 1.6875rem
  }
  .maryna__text {
    padding-left: 5.625rem
  }
  .maryna__paragraph {
    font-size: 1.6875rem
  }
  .maryna__second-paragraph {
    font-size: 2rem
  }
}
@media (max-width:115em) {
  .info__container {
    grid-template-columns: .5fr 1fr .5fr
  }
  .info__logo01 {
    max-width: 10rem
  }
  .info__logo02 {
    max-width: 18.75rem
  }
  .assortment-bags {
    margin-top: -10.625rem
  }
  .assortment-bags__logo {
    flex: 0 0 18.75rem;
    max-width: 18.75rem
  }
  .assortment-bags__items {
    margin-top: -2.5rem
  }
  .tetiana__text::before {
    flex: 0 0 5rem;
    width: 5rem;
    height: 3.75rem
  }
  .right-column-tetiana__text-white {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .anastasia__text::before {
    flex: 0 0 5rem;
    width: 5rem;
    height: 3.75rem
  }
  .right-column-anastasia__text-white {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .result__logo {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .result__logo:not(:last-child) {
    margin-bottom: 1.4375rem
  }
  .result__big-text {
    max-width: 100%
  }
  .result__text {
    padding-left: 3.125rem
  }
}
@media (max-width:90em) {
  .assortment-bags {
    clip-path: polygon(0 0,100% 17%,100% 83%,0 100%)
  }
  .julia__container {
    display: grid;
    grid-template-columns: .8fr 1.2fr
  }
  .julia__block {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .julia__image {
    max-height: 40.625rem
  }
  .julia__image img {
    max-height: 40.625rem
  }
  .content-julia {
    row-gap: 1.875rem
  }
  .content-julia__text--width {
    flex: 1 1 auto;
    max-width: 100%
  }
  .content-julia__bottom {
    flex-direction: column;
    row-gap: 3.125rem
  }
  .content-julia__image {
    flex: 0 0 31.25rem;
    max-width: 31.25rem;
    max-height: 40.625rem
  }
  .content-julia__image img {
    max-height: 40.625rem
  }
  .maryna-aristova {
    padding-bottom: 10rem
  }
  .maryna-aristova__container {
    display: grid;
    grid-template-columns: .8fr 1.2fr
  }
  .maryna-aristova__block {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .maryna-aristova__image {
    max-height: 40.625rem
  }
  .maryna-aristova__image img {
    max-height: 40.625rem
  }
  .maryna-aristova__text {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .content-maryna-aristova {
    row-gap: 1.875rem
  }
  .content-maryna-aristova__text--width {
    flex: 1 1 auto;
    max-width: 100%
  }
  .content-maryna-aristova__bottom {
    flex-direction: column;
    row-gap: 3.125rem
  }
  .content-maryna-aristova__image {
    flex: 0 0 31.25rem;
    max-width: 31.25rem;
    max-height: 40.625rem
  }
  .content-maryna-aristova__image img {
    max-height: 40.625rem
  }
}
@media (max-width:139.375em) {
  .olga__container::after {
    -webkit-transform: translate(10%,-70%);
    transform: translate(10%,-70%)
  }
}
@media (max-width:109.375em) {
  .olga__top {
    max-width: 100%;
    align-items: flex-start
  }
  .olga__line {
    max-width: 62.5rem
  }
  .olga__text {
    max-width: 100%
  }
  .olga__image {
    display: none
  }
  .olga__image::after {
    display: none
  }
  .bottom-olga__image {
    flex: 1 1 50%;
    width: 100%;
    max-height: 50rem
  }
  .bottom-olga__image img {
    width: 100%;
    height: 50rem
  }
  .bottom-olga__column {
    flex: 1 1 50%
  }
  .bottom-olga__small-text {
    max-width: 100%
  }
  .bottom-olga__small-text:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .bottom-olga__paragraphs {
    max-width: 100%
  }
}
@media (max-width:100.9375em) {
  .bottom-olga {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
}
@media (max-width:98.12375em) {
  .our-team {
    clip-path: polygon(0 0,100% 6.5%,100% 90%,0 100%);
    margin-top: -5rem
  }
  .new-era-bags {
    clip-path: polygon(0 9%,100% 0,100% 100%,0 85%);
    margin-top: -6.25rem
  }
}
@media (max-width:98.125em) {
  .our-team__container {
    flex-direction: column;
    align-items: center
  }
  .our-team__text {
    flex: 1 1 auto;
    max-width: 100%
  }
  .our-team__items {
    flex-wrap: wrap
  }
}
@media (max-width:72.68625em) {
  .julia__block {
    -webkit-transform: translate(0,30%);
    transform: translate(0,30%)
  }
}
@media (max-width:70.74875em) {
  .our-team {
    clip-path: polygon(0 0,100% 4.7%,100% 90%,0 100%);
    padding-top: 8.125rem;
    padding-bottom: 6.25rem
  }
  .new-era-bags {
    clip-path: polygon(0 10.7%,100% 0,100% 100%,0 85%);
    margin-top: -7.5rem
  }
}
@media (max-width:61.99875em) {
  .footer {
    padding-top: 4.5rem
  }
  .footer {
    padding-bottom: 3.4375rem;
    margin-top: 0;
    clip-path: none
  }
  .hero {
    background-color: #421d1e;
    height: 100%;
    padding-bottom: 2.5rem
  }
  .hero__bg {
    display: none
  }
  .hero__container {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    display: flex;
    flex-direction: column
  }
  .hero__main-img {
    display: block;
    max-width: 100%;
    max-height: 100%
  }
  .hero__main-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .hero__content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 3.75rem;
    order: -1
  }
  .hero__logo {
    order: -1;
    padding-bottom: 2.5rem
  }
  .hero__icon01 {
    flex: 0 0 9.375rem;
    max-width: 9.375rem
  }
  .hero__icon02 {
    flex: 0 0 6.875rem;
    max-width: 6.875rem
  }
  .info {
    clip-path: none;
    padding: 2.5rem 0;
    margin-top: -.0625rem;
    border: none
  }
  .our-team {
    clip-path: none;
    margin-top: 0;
    padding-top: 1.625rem;
    padding-bottom: 5.25rem
  }
  .our-team__items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    row-gap: 3.875rem
  }
  .item-our-team {
    flex: 1 1 auto;
    max-width: 100%
  }
  .new-era-bags {
    margin-top: 0;
    clip-path: none
  }
  .new-era-bags__container {
    grid-template-columns: auto;
    padding-top: 6.25rem;
    padding-bottom: 4.6875rem;
    padding-left: 0;
    padding-right: 0
  }
  .new-era-bags__content {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
  .new-era-bags__text {
    padding-left: 0
  }
  .assortment-bags {
    clip-path: none;
    margin-top: 0
  }
  .assortment-bags__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .assortment-bags__logo {
    flex: 0 0 15.625rem;
    max-width: 15.625rem
  }
  .assortment-bags__items {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    clip-path: none;
    margin-top: 4.375rem
  }
  .assortment-bags__item {
    max-height: 15.625rem
  }
  .assortment-bags__item:nth-child(5) {
    display: none
  }
  .assortment-bags__item:nth-child(1) {
    order: 1
  }
  .assortment-bags__item:nth-child(2) {
    order: 1
  }
  .assortment-bags__item:nth-child(3) {
    order: 4
  }
  .assortment-bags__item:nth-child(4) {
    order: 3
  }
  .julia {
    clip-path: none;
    margin-top: 0;
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .julia::after {
    clip-path: none
  }
  .julia__container {
    grid-template-columns: repeat(2,1fr);
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .comment {
    padding-top: 6.25rem;
    padding-bottom: 5.625rem
  }
  .comment--julia {
    margin-top: 0;
    clip-path: none
  }
  .comment--tetiana {
    margin-top: 0;
    clip-path: none;
    padding-top: 2.5rem
  }
  .comment--maryna-aristova {
    margin-top: 0;
    clip-path: none
  }
  .comment--anastasia {
    margin-top: 0;
    clip-path: none;
    padding-top: 2.5rem
  }
  .comment--olga {
    margin-top: 0;
    clip-path: none
  }
  .comment__container {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .comment__image {
    display: none
  }
  .comment__content::before {
    width: 12.5rem;
    height: 12.5rem
  }
  .comment__top {
    padding-left: 0
  }
  .tetiana {
    margin-top: 0;
    clip-path: none;
    padding-bottom: 3.125rem
  }
  .tetiana::after {
    clip-path: none;
    height: 37.5rem
  }
  .tetiana__container {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .tetiana__header-block:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .tetiana__text {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .tetiana__text {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .tetiana__text:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .tetiana__text::before {
    flex: 0 0 3.75rem;
    width: 3.75rem;
    height: 2.8125rem
  }
  .right-column-tetiana__image:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .maryna-aristova {
    clip-path: none;
    margin-top: 0;
    padding-top: 6.25rem;
    padding-bottom: 4.375rem
  }
  .maryna-aristova__container {
    grid-template-columns: repeat(2,1fr);
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .anastasia {
    padding-bottom: 4.375rem;
    margin-top: 0;
    clip-path: none;
    padding-top: 3.125rem
  }
  .anastasia::after {
    clip-path: none;
    height: 63.75rem;
    z-index: 0
  }
  .anastasia__container {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .anastasia__header-block:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .anastasia__text {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .anastasia__text {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .anastasia__text:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .anastasia__text::before {
    flex: 0 0 3.75rem;
    width: 3.75rem;
    height: 2.8125rem
  }
  .right-column-anastasia__image:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .olga {
    padding-bottom: 5.3125rem;
    clip-path: none;
    margin-top: 0
  }
  .olga::after {
    clip-path: none;
    z-index: 1
  }
  .result {
    margin-top: 0;
    clip-path: none;
    padding-bottom: 0
  }
  .result__container {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem;
    grid-template-columns: auto;
    row-gap: 3.4375rem;
    padding-left: 0;
    padding-right: 0
  }
  .result__column {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
  .result__icon01 {
    flex: 0 0 5rem;
    max-width: 10.625rem
  }
  .result__icon02 {
    flex: 0 0 2.875rem;
    max-width: 6.25rem
  }
  .result__big-text {
    padding-left: 0
  }
  .result__text {
    padding-left: 0
  }
  .result__image {
    clip-path: none;
    max-width: 100%;
    max-height: 43.75rem
  }
  .result__image img {
    -o-object-position: 0 77%;
    object-position: 0 77%
  }
  .maryna {
    padding-top: 7.8125rem;
    padding-bottom: 4.375rem;
    margin-top: 0;
    clip-path: none
  }
  .maryna__text {
    padding-left: 3.125rem;
    padding-left: 0
  }
}
@media (max-width:47.99875em) {
  .header-block__title {
    font-size: 1.875rem
  }
  .header-block__subtitle {
    font-size: 1.125rem
  }
  .footer__line {
    font-size: 1rem
  }
  .footer__text {
    font-size: 1.125rem
  }
  .hero__title {
    font-size: 1.4375rem
  }
  .hero__text {
    font-size: 1.125rem
  }
  .hero__icon01 {
    flex: 0 0 6.25rem;
    max-width: 6.25rem
  }
  .hero__icon02 {
    flex: 0 0 5.3125rem;
    max-width: 5.3125rem
  }
  .info__container {
    grid-template-columns: auto
  }
  .info__logo01 {
    margin-left: .0000000625rem
  }
  .info__logo01 {
    display: none
  }
  .info__text {
    font-size: 1.125rem
  }
  .info__text {
    text-align: left
  }
  .info__logo02 {
    justify-self: center
  }
  .our-team__text {
    font-size: 1.125rem
  }
  .item-our-team__info {
    font-size: 1rem
  }
  .new-era-bags__title {
    font-size: 1.5rem
  }
  .new-era-bags__text {
    font-size: 1.125rem
  }
  .new-era-bags__subtitle {
    font-size: 1.5rem
  }
  .assortment-bags__container {
    flex-direction: column;
    row-gap: 3.125rem
  }
  .assortment-bags__logo {
    flex: 0 0 11.875rem;
    max-width: 11.875rem
  }
  .assortment-bags__text {
    font-size: 1.125rem;
    flex: 0 0 auto;
    text-align: center
  }
  .assortment-bags__item {
    max-height: 13.75rem
  }
  .julia::after {
    height: 50rem
  }
  .julia__container {
    grid-template-columns: auto
  }
  .julia__block {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    padding-bottom: 1.875rem
  }
  .julia__image {
    max-height: 31.25rem;
    max-width: 100%
  }
  .julia__image:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .julia__image img {
    max-height: 31.25rem
  }
  .julia__text {
    font-size: 1.125rem
  }
  .julia__subtitle {
    font-size: 1.5rem
  }
  .content-julia__text {
    font-size: 1.125rem
  }
  .content-julia__text--before {
    padding-top: 3.25rem
  }
  .content-julia__text--before::before {
    background-size: contain;
    width: 3.8125rem;
    height: 2.8125rem
  }
  .content-julia__bottom {
    display: grid
  }
  .content-julia__image {
    order: -1;
    max-height: 31.25rem;
    max-width: 100%
  }
  .content-julia__image:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .content-julia__image img {
    max-height: 31.25rem
  }
  .comment {
    padding-top: 2.5rem;
    padding-bottom: 4.375rem
  }
  .comment__container {
    row-gap: 2.5rem;
    flex-direction: column-reverse
  }
  .comment__image {
    display: block
  }
  .comment__content::before {
    width: 6.875rem;
    height: 6.875rem;
    -webkit-transform: translateY(80%);
    transform: translateY(80%)
  }
  .comment__text {
    font-size: 1.125rem
  }
  .blockquote-comment {
    padding-left: .9375rem;
    padding-right: .9375rem
  }
  .blockquote-comment__text {
    font-size: 1.125rem
  }
  .tetiana {
    padding-bottom: 3.9375rem;
    padding-top: 2.75rem
  }
  .tetiana::after {
    height: 53.125rem
  }
  .tetiana__container {
    grid-template-columns: auto
  }
  .tetiana__header-block {
    padding-left: .0000000625rem
  }
  .tetiana__header-block {
    max-width: 17.5rem
  }
  .tetiana__text {
    font-size: 1.125rem
  }
  .tetiana__text {
    padding-left: .0000000625rem
  }
  .tetiana__image {
    margin-left: -1.25rem
  }
  .right-column-tetiana__image {
    margin-right: -1.25rem
  }
  .right-column-tetiana__text-white {
    font-size: 1.125rem
  }
  .right-column-tetiana__text-white {
    margin-left: 0
  }
  .right-column-tetiana__text {
    font-size: 1.5rem;
    margin-left: 0
  }
  .maryna-aristova__container {
    grid-template-columns: auto
  }
  .maryna-aristova__block {
    padding-bottom: 1.875rem
  }
  .maryna-aristova__image {
    max-height: 31.25rem;
    max-width: 100%
  }
  .maryna-aristova__image:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .maryna-aristova__image img {
    max-height: 31.25rem;
    -o-object-position: 0 25%;
    object-position: 0 25%
  }
  .maryna-aristova__text {
    font-size: 1.125rem
  }
  .maryna-aristova__subtitle {
    font-size: 1.5rem
  }
  .content-maryna-aristova__text {
    font-size: 1.125rem
  }
  .content-maryna-aristova__text--before {
    padding-top: 3.25rem
  }
  .content-maryna-aristova__text--before::before {
    background-size: contain;
    width: 3.8125rem;
    height: 2.8125rem
  }
  .content-maryna-aristova__bottom {
    display: grid
  }
  .content-maryna-aristova__image {
    order: -1;
    max-height: 31.25rem;
    max-width: 100%
  }
  .content-maryna-aristova__image:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .content-maryna-aristova__image img {
    max-height: 31.25rem;
    -o-object-position: 0 35%;
    object-position: 0 35%
  }
  .anastasia {
    padding-bottom: 3.9375rem;
    padding-top: 2.75rem
  }
  .anastasia__container {
    grid-template-columns: auto
  }
  .anastasia__header-block {
    padding-left: .0000000625rem
  }
  .anastasia__header-block {
    max-width: 17.5rem
  }
  .anastasia__text {
    font-size: 1.125rem
  }
  .anastasia__text {
    padding-left: .0000000625rem
  }
  .anastasia__image {
    margin-left: -1.25rem
  }
  .right-column-anastasia__image {
    margin-right: -1.25rem
  }
  .right-column-anastasia__text-white {
    font-size: 1.125rem
  }
  .right-column-anastasia__text-white {
    margin-left: 0
  }
  .right-column-anastasia__text {
    font-size: 1.5rem
  }
  .right-column-anastasia__text {
    margin-left: 0
  }
  .olga {
    padding-top: 8.75rem
  }
  .olga::after {
    height: 63.75rem
  }
  .olga__container {
    padding-top: 6.25rem
  }
  .olga__container::after {
    width: 10.0625rem;
    height: 4.75rem
  }
  .olga__line {
    flex-direction: row-reverse
  }
  .olga__avatar {
    position: absolute;
    top: -9.375rem;
    right: 1.25rem;
    flex: 0 0 8.125rem;
    max-width: 8.125rem
  }
  .olga__text {
    font-size: 1.125rem
  }
  .olga__text::before {
    display: none
  }
  .olga__image {
    -webkit-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
    position: relative;
    display: grid;
    justify-self: end;
    max-height: 43.75rem;
    min-width: 100%
  }
  .olga__image img {
    min-width: 100%;
    height: 43.75rem;
    -o-object-position: 0 30%;
    object-position: 0 30%
  }
  .olga__image::before {
    content: "";
    position: absolute;
    top: 2%;
    right: 3.5%;
    width: 100%;
    height: 95%;
    border: .125rem solid #c39e7c
  }
  .bottom-olga {
    flex-direction: column
  }
  .bottom-olga__image {
    max-height: 43.75rem;
    -webkit-transform: translateX(-1.25rem);
    transform: translateX(-1.25rem)
  }
  .bottom-olga__image img {
    height: 43.75rem
  }
  .bottom-olga__image:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .bottom-olga__small-text {
    font-size: 1.125rem
  }
  .bottom-olga__paragraphs {
    font-size: 1.125rem
  }
  .bottom-olga__text {
    font-size: 1.5rem
  }
  .result__big-text {
    font-size: 1.5rem
  }
  .result__text {
    font-size: 1.125rem
  }
  .result__image {
    max-height: 37.5rem
  }
  .result__image img {
    max-height: 37.5rem
  }
  .maryna__image {
    margin-left: -1.25rem;
    max-height: 37.5rem
  }
  .maryna__image img {
    max-height: 37.5rem
  }
  .maryna__content::after {
    width: 12.5rem;
    height: 12.5rem
  }
  .maryna__header-block {
    max-width: 12.5rem
  }
  .maryna__paragraph {
    font-size: 1.125rem
  }
  .maryna__second-paragraph {
    font-size: 1.125rem
  }
}
@media (max-width:29.99875em) {
  .header-block__title {
    max-width: 14.375rem
  }
  .our-team__items {
    grid-template-columns: auto
  }
  .assortment-bags__item {
    max-height: 11.25rem
  }
  .julia__image {
    margin-left: -1.25rem;
    max-height: 25rem;
    width: 22.5rem
  }
  .julia__image img {
    max-height: 25rem
  }
  .content-julia__image {
    justify-self: end;
    margin-right: -1.25rem;
    max-height: 25rem;
    width: 22.5rem
  }
  .content-julia__image img {
    max-height: 25rem
  }
  .comment__text {
    max-width: 10rem
  }
  .maryna-aristova__image {
    margin-left: -1.25rem;
    max-height: 25rem;
    width: 22.5rem
  }
  .maryna-aristova__image img {
    max-height: 25rem
  }
  .content-maryna-aristova__image {
    justify-self: end;
    margin-right: -1.25rem;
    max-height: 25rem;
    width: 22.5rem
  }
  .content-maryna-aristova__image img {
    max-height: 25rem
  }
  .olga__image {
    max-height: 32rem
  }
  .olga__image img {
    height: 32rem
  }
  .bottom-olga__image {
    max-height: 32rem
  }
  .bottom-olga__image img {
    height: 32rem
  }
  .result__image {
    max-height: 25rem
  }
  .result__image img {
    max-height: 25rem
  }
  .maryna__image {
    max-height: 28.75rem
  }
  .maryna__image img {
    max-height: 28.75rem
  }
}
@media (min-width:47.99875em)and (max-width:115em) {
  .header-block__title {
    font-size: clamp(1.875rem ,1.0690658756rem + 1.6790731516vw ,3rem)
  }
  .header-block__subtitle {
    font-size: clamp(1.125rem ,.8563552919rem + .5596910505vw ,1.5rem)
  }
  .footer__line {
    font-size: clamp(1rem ,.6418070558rem + .7462547341vw ,1.5rem)
  }
  .footer__text {
    font-size: clamp(1.125rem ,.8563552919rem + .5596910505vw ,1.5rem)
  }
  .hero__title {
    font-size: clamp(1.4375rem ,-.3982388388rem + 3.824555512vw ,4rem)
  }
  .hero__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .info__logo01 {
    margin-left: clamp(.0000000625rem ,-5.8206352354rem + 12.1266393351vw ,8.125rem)
  }
  .info__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .our-team__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .item-our-team__info {
    font-size: clamp(1rem ,.8209035279rem + .373127367vw ,1.25rem)
  }
  .new-era-bags__title {
    font-size: clamp(1.5rem ,.4254211675rem + 2.2387642022vw ,3rem)
  }
  .new-era-bags__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .new-era-bags__subtitle {
    font-size: clamp(1.5rem ,1.1418070558rem + .7462547341vw ,2rem)
  }
  .assortment-bags__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .julia__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .julia__subtitle {
    font-size: clamp(1.5rem ,1.1418070558rem + .7462547341vw ,2rem)
  }
  .content-julia__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .comment__text {
    font-size: clamp(1.125rem ,.4981623477rem + 1.3059457846vw ,2rem)
  }
  .blockquote-comment__text {
    font-size: clamp(1.125rem ,.8563552919rem + .5596910505vw ,1.5rem)
  }
  .tetiana__header-block {
    padding-left: clamp(.0000000625rem ,-2.2387057937rem + 4.6640919946vw ,3.125rem)
  }
  .tetiana__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .tetiana__text {
    padding-left: clamp(.0000000625rem ,-2.2387057937rem + 4.6640919946vw ,3.125rem)
  }
  .right-column-tetiana__text-white {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .right-column-tetiana__text {
    font-size: clamp(1.5rem ,1.1418070558rem + .7462547341vw ,2rem)
  }
  .maryna-aristova__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .maryna-aristova__subtitle {
    font-size: clamp(1.5rem ,1.1418070558rem + .7462547341vw ,2rem)
  }
  .content-maryna-aristova__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .anastasia__header-block {
    padding-left: clamp(.0000000625rem ,-2.2387057937rem + 4.6640919946vw ,3.125rem)
  }
  .anastasia__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .anastasia__text {
    padding-left: clamp(.0000000625rem ,-2.2387057937rem + 4.6640919946vw ,3.125rem)
  }
  .right-column-anastasia__text-white {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .right-column-anastasia__text {
    font-size: clamp(1.5rem ,1.1418070558rem + .7462547341vw ,2rem)
  }
  .olga__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .bottom-olga__small-text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .bottom-olga__paragraphs {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .bottom-olga__text {
    font-size: clamp(1.5rem ,1.1418070558rem + .7462547341vw ,2rem)
  }
  .result__big-text {
    font-size: clamp(1.5rem ,.4254211675rem + 2.2387642022vw ,3rem)
  }
  .result__text {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .maryna__paragraph {
    font-size: clamp(1.125rem ,.7220329378rem + .8395365758vw ,1.6875rem)
  }
  .maryna__second-paragraph {
    font-size: clamp(1.125rem ,.4981623477rem + 1.3059457846vw ,2rem)
  }
}
@media (min-width:61.99875em)and (max-width:115em) {
  .footer {
    padding-top: clamp(4.5rem ,-15.5321425202rem + 32.3105587132vw ,21.625rem)
  }
  .footer {
    padding-bottom: clamp(3.4375rem ,-6.7247912785rem + 16.3911228509vw ,12.125rem)
  }
  .comment__container {
    -webkit-column-gap: clamp(2.5rem ,-.1319603311rem + 4.2451828966vw ,4.75rem);
    -moz-column-gap: clamp(2.5rem ,-.1319603311rem + 4.2451828966vw ,4.75rem);
    column-gap: clamp(2.5rem ,-.1319603311rem + 4.2451828966vw ,4.75rem)
  }
  .tetiana__container {
    -webkit-column-gap: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem);
    -moz-column-gap: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem);
    column-gap: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem)
  }
  .tetiana__text {
    -webkit-column-gap: clamp(.9375rem ,-4.7650807174rem + 9.197896276vw ,5.8125rem);
    -moz-column-gap: clamp(.9375rem ,-4.7650807174rem + 9.197896276vw ,5.8125rem);
    column-gap: clamp(.9375rem ,-4.7650807174rem + 9.197896276vw ,5.8125rem)
  }
  .anastasia__container {
    -webkit-column-gap: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem);
    -moz-column-gap: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem);
    column-gap: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem)
  }
  .anastasia__text {
    -webkit-column-gap: clamp(.9375rem ,-4.7650807174rem + 9.197896276vw ,5.8125rem);
    -moz-column-gap: clamp(.9375rem ,-4.7650807174rem + 9.197896276vw ,5.8125rem);
    column-gap: clamp(.9375rem ,-4.7650807174rem + 9.197896276vw ,5.8125rem)
  }
  .result__container {
    -webkit-column-gap: clamp(3.125rem ,-2.7238007358rem + 9.4337397703vw ,8.125rem);
    -moz-column-gap: clamp(3.125rem ,-2.7238007358rem + 9.4337397703vw ,8.125rem);
    column-gap: clamp(3.125rem ,-2.7238007358rem + 9.4337397703vw ,8.125rem)
  }
  .maryna__text {
    padding-left: clamp(3.125rem ,.2005996321rem + 4.7168698851vw ,5.625rem)
  }
}
@media (min-width:100.9375em)and (max-width:115em) {
  .bottom-olga {
    -webkit-column-gap: clamp(3.125rem ,-17.0625rem + 20vw ,5.9375rem);
    -moz-column-gap: clamp(3.125rem ,-17.0625rem + 20vw ,5.9375rem);
    column-gap: clamp(3.125rem ,-17.0625rem + 20vw ,5.9375rem)
  }
}